@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
/* HAUT DE PAGE */
header {
  text-align: center;
}
h2 {
  color: #fe0084;
}

nav {
  text-transform: uppercase;
  background-color: #fe0084;
}
nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 2em;
  font-weight: 500;
}

/* CONTENU DE LA PAGE */
section {
  border: 1px solid grey;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px #868686;
  padding: 2em;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  padding: 1em;
  height: auto;
  width: 500px;
}

.canada > img,
.japon > img,
.cds > img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* BAS DE PAGE */
footer {
  text-align: center;
  color: white;
  background-color: #fe0084;
  width: auto;
  height: 5em;
}
