@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body{
  font-family: "Roboto", sans-serif;
}

/* HAUT DE PAGE */
h1 {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  cursor: pointer;
  font-family: "Montserrat Alternates";
  font-size: 30px;
}

nav {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  height: 50px;
  background-color: #fe0084;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  background: #f38fc2;
}

nav a {
  display: flex;
  align-items: center;
}

nav a:visited {
  color: white;
  text-decoration: none;
}

header h1>a:visited{
  color: black;
}

/* CONTENU DE LA PAGE */
h2 {
  color: #fe0084;
}

section {
  border: 1px solid grey;
  border-radius: 15px;
  box-shadow: 10px 10px 20px 10px #ebcadbee;
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
img {
  height: auto;
  width: 500px;
}
.canada > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
}

/* BAS DE PAGE */
footer {
  padding-top: 2em;
  text-align: center;
  color: white;
  background-color: #fe0084;
  width: auto;
  height: 5em;
}
