@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

section{
    /* border: solid 1px; */
    display: flex;
    height: 400px;
    justify-content: space-around;
}

header>h1 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    /* cursor: pointer; */
    font-family: "Montserrat Alternates";
    color: black;
}

header h1>a:visited{
    color: black;
}

a:visited{text-decoration: none;}

body{
    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #fe0084;
    color: white;
    font-weight: bolder;
}

nav>p {
    cursor: pointer;
}


nav a:visited{color: white;}

#title{
    margin-left: 60px;
    /* border: solid 1px; */
    height: fit-content;
    width: 300px;
    font-size: 24px;
    color: #fe0084;
}

h2{
    color: #fe0084;
}

figcaption{
    width: fit-content;
}

img{
    width: 26em;
    /* border: solid 1px; */
    display: wrap;
    transition: transform 0.5s;
    filter: opacity(1);
    cursor: pointer;
    /* border: solid; */
    box-shadow:0 12px 6px rgba(235, 202, 219, 0.932) ;

}

img:hover{
    transform: scale(1.1);
    filter: opacity(0.7);
}

div{
    display: flex;
    align-items: center;
    margin: 3%;
    width: 100%;

}


